@{
    ViewBag.Title = "About";
}
<h2 class="contactheader">D'oro Movie Rentals</h2>

<div class="col-md-4">
    <h3>About us...</h3>
    <p>
        Welcome to D'oro Movie Rentals employee web application<br />
        In this website, current employees will be able to create an<br />
        account and login in to make changes to current Customers, Movies, <br />
        and Checkouts.
    </p>
</div>

<div class="col-md-4">

    <img src="~/Content/Images/Online-Movies-09.jpg"/>
</div>

<div class="col-md-4">
    <h3>Questions?</h3>
    <p>
        Want more information about D'oro Movie Rentals?<br />
        please visit our Contact page at the top left navigation bar.<br />
        We'll be happy to answer any questions for you!<br />
        Thank you!
    </p>
</div>